h1 {
    color: paleturquoise;
    font-size: 50px;
    display: flex;
    justify-content: center;
    height: 20%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column;
    /* padding: 20px; */
    /* width: 70%; */
    /* margin: 0 auto; */
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: paleturquoise;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%; 
}

label {
    font-size: 20px;
    color: paleturquoise;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: paleturquoise;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #b0b0b0;
}

* {
    background-color: rgb(53, 53, 53);
    font-family:'Courier New', Courier, monospace;
}

footer {
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: paleturquoise;
    padding: 10px;
}

header h3 {
    position: absolute;
    top: 50px;
    left: 10px;
    color: paleturquoise;
}


h2 {
    color: paleturquoise;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

div {
    color: rgb(53, 53, 53);
}

input[type="checkbox"] {
    color: paleturquoise;
    display: flex;
    justify-content: center;
    justify-items: center;

}

p {
    color: paleturquoise;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}